@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/georgia/georgia-regular.ttf");
  src: local("Georgia Regular"), local("Georgia-Regular"),
      url("../fonts/georgia/georgia-regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Georgia";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/georgia/georgia-bold.ttf");
  src: local("Georgia Bold"), local("Georgia-Bold"),
      url("../fonts/georgia/georgia-bold.ttf")
      format("truetype");
}

$accent-color: #a7c353;


html {
  box-sizing: border-box;
}

.js-hide {
  display: none;
  opacity: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  background-color: #313131;
}
a {
  text-decoration: none;
  color:black;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .content-wrapper {
//   margin: 0;
//   margin-right: auto;
//   margin-left: auto;
//   padding: 0;
//   max-width: 1200px;
//   background-color: #313131;
// }

blockquote {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
}

.link-wrapper {
  text-align: right;
}

.section-read-more-link {
  line-height: 1;
  text-align: right;
  color: $accent-color;

  &:hover {
    text-decoration: underline;
  }
}

header {
  margin: 0;
  .container {
    border-top: 5px solid $accent-color;
  }
}

.header-wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $accent-color;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-btn {
    background-color: #fff;
    border: none;
    outline: none;

    .burger {
      width: 20px;
      height: 20px;
      fill: $accent-color;

      &.cross {
        width: 20px;
      height: 20px;
      fill: $accent-color;
      }
    }
  }
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 1;
  color: #666666;

  .font-size {
    font-size: 26px;
    text-transform: uppercase;
  }
}

.logo-desc {
  font-size: 12px;
  line-height: 1;
  color: #999999;
  margin: 0;
  padding: 0;
}

.navigation {
  transition: opacity 0.2s ease;
}

.navigation-list {
  padding: 30px;
  text-align: center;

  li {
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #979797;
    margin-bottom: 25px;
  }  
}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  blockquote {
    margin-bottom: 40px;
    font-style: italic;
    font-size: 22px;
    color: #666666;
  }

  .hero-img-wrap {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    .hero-img {
      object-fit: contain;
    }

    .slider-wrap {
      display: none;
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .hero-text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .hero-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 20px 5px;
    font-size: 22px;
    line-height: 1.4;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: $accent-color;
  }
  .hero-description {
    padding: 14px;
    line-height: 1.2;
    color: #999999;
    background: #fff;
  }
}

.section {
  padding-bottom: 40px;
}

.section-description {
  color: #999999;
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: normal;
  color: #666666;
}

.about-us {
  .section-description {
    margin-bottom: 20px;
  }
}

.about-us-img-wrapper {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 4px;
  width: 280px;
  overflow: hidden;
  border: 1px solid #e2e2e2;

  .about-us-img {
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 140px;
    object-fit: cover;
  }
}


.our-services-list {
  li {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }

  .about-img-wrapper {
    margin: 0;
    margin-right: 20px;
  }

  .services-item-title {
    margin: 0;
    margin-bottom: 15px;
    color: #878787;
  }
}

.testimonials-item-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: #989898;

  .job-title {
    font-weight: normal;
  }
}

.testimonials-list {
  li:not(:last-child) {
    margin-bottom: 20px;
  }
  .testimonials-item-title {
    margin: 0;
    margin-bottom: 10px;
  }

  .section-description {
    margin: 0;
    margin-bottom: 10px;
  }
}

footer {
  .container {
    padding-top: 40px;
    background-color: #313131;
  }

  .footer-title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #fff;
    border-bottom: 1px solid #3a3a3a;
  }
  
  .blog {
    .footer-link:hover {
      text-decoration: underline;
    }
  }
}

.copany-contacts {
  margin-bottom: 40px;
}
address {
  ul:not(:last-child) {
    margin-bottom: 20px;
  }
  li{
    font-size: 12px;
    line-height: 1.6;
    font-style: normal;
    color: #999999;
  }
  .office-hours {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.6;
    color: #999999;
  }
}

.footer-link {
  font-size: 12px;
  line-height: 1.2;
  text-align: right;
  color: $accent-color;

  &:hover {
    text-decoration: underline;
  }

}

.social-links-wrap {
  margin-bottom: 40px;
}
.social-list {
  .social-item {
    display: flex;
    align-items: center;
    text-align: unset;
    border-bottom: 1px solid #3a3a3a;
    height: 50px;

    &:hover {

      .social-link {
        background-color: $accent-color;
      }

      .footer-link {
        text-decoration: underline;
      }

    }

    .social-link {
      display: flex;
      width: 33px;
      height: 33px;
      align-items: center;
      justify-content: center;
      margin-right: 11px;
      border-radius: 50%;
      background-color: #383838;
      transition: background-color 0.2s ease;



      .social-icon {
        width: 17px;
        height: 17px;
        fill: #fff;
      }


    }
  
    
  }
}

.blog {
  margin-bottom: 40px;
  .article-title {
    margin: 0;
    margin-bottom: 5px;

    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    color: #999999;
  }

  .blog-author {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    color: #999999;
  }


  .section-description {
    font-size: 12px;
    line-height: 1.6;
    color: #999999;
  }

  article:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 13px;
    color: #989898;
    background-color: #383838;
    border: none;
    border-radius: 6px;
    outline: none;
  }

  input::placeholder {
    font-size: 13px;
    color: #989898;
  }

  textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 110px;
    padding: 10px;
    font-size: 13px;
    color: #989898;
    background-color: #383838;
    border: none;
    border-radius: 6px;
    outline: none;
    resize: none;

    &::placeholder {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      color: #989898;
    }
  }

  .btn {
    min-width: 80px;
    min-height: 30px;
    padding: 10px 12px;

    font-family: "Georgia";
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: $accent-color;
    cursor: pointer;

    &:hover {
      color:#fff;
    }
  }
  

}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #3a3a3a;
  font-size: 10px;
  line-height: 1;
  color: #999999;

  .copy {
    margin-bottom: 5px;
  }

}

@media only screen and(max-width: 767px) {

  .hero {
    .hero-text-wrapper-mobile {
      position: absolute;
      bottom: 20px;
      left: 10px;
      right: 10px;

      .hero-title-mobile {
        margin: 0;
        margin-bottom: 10px;
        padding: 5px 20px 5px;
        font-size: 22px;
        line-height: 1.4;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #fff;
        background-color: $accent-color;

      }
      .hero-description-mobile {
        display: none;
      }
    }
  }

  
}


@media only screen and(min-width: 768px) {

  .js-hide {
    display: block;
    opacity: unset;
  }

  .menu-btn {
    display: none;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    padding: 0;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 95px;

    li {
      margin: 0;
      padding: 0;
      height: 100%;

    }

    .nav-link {
      display: block;
      margin: 0;
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      height: 100%;
      color: black;
      transition: background-color 0.2s ease;

      &.current-link {
        color: #fff;
        background-color: $accent-color;
      }

      &:hover {
        color: #fff;
        background-color: $accent-color;
      }

      &:active {
        color:black;
      }
    }    
  }

  .hero {
    padding-bottom: 40px;

    blockquote {
      margin: 0 auto;
      margin-bottom: 40px;
      max-width: 740px;
      text-align: center;
    }

    .hero-text-wrapper {
      bottom: 20px;
      left: 510px;
    }

    .hero-title {
      max-width: 350px;
      height: 40px;
    }

    .hero-description {
      max-width: 350px;
      height: auto;
    }
  }

  .sections-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 40px;

    section {
      flex-basis: calc(100% / 3 - 40px);
    }

    .about-us {
      margin-right: 40px;
    }

    .our-services {
      margin-right: 40px;
    }
  }

  footer {

    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .footer-wrapper {
      display: flex;
      justify-content: space-between;

      &>div {
        flex-basis: calc(100% / 4 - 20px);
      }
    }

    .copany-contacts {
      margin-right: 20px;
    }
    .social-links-wrap {
      margin-right: 20px;
    }
    .blog {
      margin-right: 20px;
    }

    .copyright {
      address {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      font-size: 12px;

      .copy {
        margin: 0;
      }
      }
    }
  } 
}

@media screen and(min-width: 768px) and(max-width: 1023px) {

  .logo-wrap {
    margin-right: 5px;
  }

  .hero {
    .hero-text-wrapper-mobile {
      position: absolute;
      margin-left: auto;
      bottom: 20px;
      right: 20px;

      .hero-title-mobile {
        margin: 0;
        max-width: 350px;
        margin-bottom: 10px;
        padding: 5px 20px 5px;
        font-size: 22px;
        line-height: 1.4;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #fff;
        background-color: $accent-color;

      }
    .hero-description-mobile {
      display: block;
      max-width: 350px;
      padding: 14px;
      line-height: 1.2;
      color: #999999;
      background: #fff;
    }
  }
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;

  .social-links-wrap {
    .footer-link {
      font-size: 10px;
    }
  }
  }
}

@media screen and(max-width: 1023px) {
  .slider-wrap {
    display: none;

    .hero-text-wrapper {
      display: none;
    }
  }
  
}

@media screen and (min-width: 1024px) {
  .hero-img-wrap {
    display: none;
    width: 0;
    height: 0;

    .hero-title-mobile {
      display: none;
    }
  }
  .slider-wrap {
    display: block;
  }

  /* стили основного контейнера слайдера */
.slider {
  position: relative;
  /* overflow: hidden; */
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  max-width: 920px;
  height: 350px;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  position: relative;
  max-width: 100%;
}

/* стили для изображений на слайдах*/

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 170px;
  display: none;
  z-index: 60;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $accent-color;
  color: #000;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
  background-color: #000;
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 10px;
}

.slider__control_next {
  right: 10px;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 30px;
  background: transparent no-repeat center center;
  /* background-size: 100% 100%; */
}

.slider__control_prev::before {
  background-image: url("../images/left-arrow.png");
}

.slider__control_next::before {
  background-image: url("../images/right-arrow.png");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid $accent-color;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: $accent-color;
}

.slider__indicators li.active {
  background-color: #fff;
}

/* для стилизации текущего слайдера */
.img-fluid {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.hero-text-wrapper {
  display: block;
    position: absolute;
    z-index: 50;
    bottom: 20px;
    right: 60px;
}

.hero-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 22px;
    line-height: 1.6;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #a7c353;
    max-width: 350px;
    height: 40px;
}

.hero-description {
    margin: 0;
    max-width: 350px;
    height: 70px;
    padding: 14px 10px 9px 13px;
    line-height: 1.2;
    color: #999999;
    background: #fff;
}

.testimonials-item-title {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 11px;
    width: 55px;
    height: 45px;
    background-image: url(../images/quotes.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

}

}












